---
layout: default
title: Home
menus: headera
---

{% if page.url == "/" %}

<!-- Featured ================================================== -->
<section class="featured-posts">
    <div class="section-title">
        <h2><span>Featured</span></h2>
    </div>
    <div class="row">
	{% assign posts = site.posts  | where: "hidden", false %} 
	{% assign posts = posts | where: "featured", true %}
    {% for post in posts limit: 2 %}
		{% include featuredbox.html %}
	{% endfor %}
    </div>
</section>

<!-- Featured Projects ================================================== -->
<section class="featured-posts">
		<div class="section-title">
			<h2><span>Projetos em Destaque</span></h2>
		</div>
		<div class="row listrecent">
		
		{% assign projetos = site.projetos | where: "hidden", false %}
		{% assign projetos = projetos | where: "featured", true %}
		{% for post in projetos limit: 3 %}
			{% if post.featured == true %}
				{% include postbox.html %}
			{% endif %}
		{% endfor %}
		</div>
	</section>
{% endif %}

<!-- Posts Index
================================================== -->
<section class="recent-posts">
    <div class="section-title">
        <h2><span>All Stories</span></h2>
    </div>
    <div class="row listrecent">
		{% assign posts = paginator.posts %}
		{% for post in posts %}
			   {% include postbox.html %}
			   {% if post.hidden == false %}
			{% endif %}
        {% endfor %}
    </div>
</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

