{% assign author = page.authors[pessoa] %}
{% assign authorDefault = site.data.authors[pessoa] %}
<div class="col-lg-3 col-md-6 mb-30px card-group">
    <div class="card h-100">
        <div class="maxthumb">
			{% if author.gravatar %} <img class="img-fluid" src="https://www.gravatar.com/avatar/{{ author.gravatar }}?s=150&d=mm&r=x" alt="{{ author.display_name }}">
			{% elsif author.image %} <img class="img-fluid" style="max-height: 176.5px" src="{% if author.image contains "://" %}{{ author.image }}{% else %}{{ author.image | absolute_url }}{% endif %}" alt="{{author.display_name }}">
			{% elsif authorDefault.gravatar %} <img class="img-fluid" src="https://www.gravatar.com/avatar/{{ authorDefault.gravatar }}?s=150&d=mm&r=x" alt="{{ authorDefault.display_name }}">
			{% elsif authorDefault.image %} <img class="img-fluid" style="max-height: 176.5px" src="{% if authorDefault.image contains "://" %}{{ authorDefault.image }}{% else %}{{ authorDefault.image | absolute_url }}{% endif %}" alt="{{authorDefault.display_name }}">
			{% else %} <img class="img-fluid" src="{{site.baseurl }}/assets/images/usuario.jpg">
			{% endif %}
        </div>
        <div class="card-body">
            <div class="card-title">
				{% if author.web %}
					<a _target="_blank" href="{% if author.web contains "://" %}{{ author.web }}{% else %}{{ author.web | absolute_url }}{% endif %}"> {{author.display_name }} </a>
				{% elsif authorDefault.web %}
					<a _target="_blank" href="{% if authorDefault.web contains "://" %}{{ authorDefault.web }}{% else %}{{ authorDefault.web | absolute_url }}{% endif %}"> {{authorDefault.display_name }} </a>
				{% else %}
					{{author.display_name }}
				{% endif %}
			</div>
			<h4 class="card-text">{{ author.description | default: authorDefault.description  | strip_html | truncatewords:20 }}</h4>
        </div>
    </div>
</div>