---
title: "Categorias"
layout: default
sidebar: true
permalink: "/categories.html"
---
{% comment %}

<div class="row listrecent"> 
		{% for category in site.categories %}
		<div class="section-title col-md-12 mt-4">
		<h2 id="{{ category[0] | downcase }}">- <span class="text-capitalize">{{ category[0] }}</span></h2>
		</div> 
			{% assign pages_list = category[1] %}
			{% for post in pages_list %}
				{% if post.title != null %}
					{% if group == null or group == post.group %}
						 { include postbox.html }
					{% endif %}
				{% endif %}
			{% endfor %}
			{% assign pages_list = nil %}
			{% assign group = nil %}
		{% endfor %}
		</div>    
{% endcomment %}		

<!-- create categories array-->
{% assign categories_array = "" | split:"|" %}

{% for c in site.collections %}
	<!--Add each unique 'my_collection' category to the array-->
	{% for post in c.docs %}
		{% for category in post.categories %}
			{% assign categories_array = categories_array | push: category | uniq %}
		{% endfor %}
	{% endfor %}
{% endfor %}


<div class="row listrecent"> 
		
<!--Output the categories-->
	{% assign allcarssorted = categories_array | sort %}
	{% for category in allcarssorted %}
		<div class="section-title col-md-12 mt-4">
			<h2 id="{{ category | downcase }}"> - <span class="text-capitalize">{{ category }}</span></h2>
		</div> 
		{% assign docs = site.documents | where:"categories", category %}
		{% for post in  docs %}
			{% include postbox.html %}
		{% endfor %}
	{% endfor %}
</div>
<hr>